cinco_seis.java
cinco_trece.java
cuatro_cuatro.java
dos_ocho.java
dos_uno.java
notas.java
seis_dos.java
seis_cinco.java
siete_cuatro.java
siete_dos.java
siete_seis.java
siete_siete.java
siete_tres.java
siete_uno.java
tres_cinco.java
tres_nueve.java
siete_cinco.java
funciones.java
bashrc